<div id="<%= dom_id file_input %>">
  <% if action_name != "show" %>
    <%= link_to "Show this file input", file_input, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this file input", edit_file_input_path(file_input), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
